<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyunwoong.braintraining">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--for firebase-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--for game-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--for receiver-->

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--for push-->


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="adjustResize">


        <!--Activity -->

        <activity
            android:name=".view.SplashView"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.MainView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.TutorialView"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.SelectView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.ScoreView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.LoginView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.FriendView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.FriendInfoView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.CountGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.CalculateGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.ColorGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.ShellGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.MixGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.MomentGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.LabialGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.SettingView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.WordGameView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.DailyTrainingView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.FavoriteView"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.PauseView"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />


        <!--Service-->
        <service android:name=".service.BGMService" />
        <service android:name=".service.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <service android:name=".service.DynamicReceiverService" />

        <receiver android:name=".receiver.AlarmReceiver" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

    </application>
</manifest>